.comment_container
  .comment_container_title コメント一覧
  - if comments
    = render "shared/comment_area",{comments: comments}
    .no_comment_message 投稿者さんにコメントをしてみよう！
  .comment_form
    - if user_signed_in?
      = form_with url: post_comments_path(post.id),method: :post, remote: true do | f |
        = f.text_area :text,placeholder: "テキストを入力"
        = f.submit "投稿する",class: "comment_btn"
    - else
      ※ログインすることでコメントができます。