- if user_signed_in?
  = form_with model: [post, comment],method: :post, remote: true do | f |
    = f.text_area :text,placeholder: "テキストを入力"
    = f.submit "投稿する",class: "comment_btn"
- else
  ※ログインすることでコメントができます。