%header
  .header-left Mybest
  .header-right
    = fa_icon "search"
    = fa_icon "bell"
    %a マイページ
    %a 投稿する
    = link_to "singin", new_user_session_path
    = link_to "singup", new_user_registration_path