= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      .search_wrapper
        .search_container
          -# タグ一覧
          -# = render partial: "shared/tags",locals: {tag_cs: @tag_cs,tag_bs: @tag_bs,tag_gs: @tag_gs}
          
      .main_container
        -# 服一覧
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @posts}
        -# = paginate @posts

= render partial: 'shared/footer'