// box-sizing
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

// aタグ統一
a{
  color:#555;;
  text-decoration: none;
  cursor: pointer;
  &:active{
    color: #555;
    text-decoration: none;
    cursor: pointer;
  }
}
// div文字色変更
div,input {
  color: #555;
}
// .hidden ＝ 隠す
.hidden {
  display: none;
}

// エラーメッセージ
.error_alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

// トップページ
.about_wrapper {
  background-color: ghostwhite;
  .about_inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    .about_container {
      display: flex;
      .about_box {
        margin-left: 50px;
        .login_content {
          font-size: 20px;
          text-align: center;
          span {
            font-size: 25px;
          }
          a {
            font-size: 25px;
            text-align: center;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #aaa;
            color: #FFFFFF;
            margin-top: 20px;
            display: inline-block;
          }
        }
      }
      .about_image {
        width: 80px;
        height: 80px;
        margin: auto 0;
      }
    }
  }
}


// ヘッダー
header {
  .header_wrapper {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: #FFFFFF;
    .header-left{
      font-size: 30px;
      .logo_image {
        width: 30px;
        height: 30px;
      }
    }
    .header-right{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      .pulldown_lists {
        position: absolute;
        right: 0px;
        margin-top: 0px 10px;
        padding: 10px;
        background-color: #aaa;
        border-radius: 10px;
        display: none;
        width: 150px;
        .pulldown_list {
          color: white;
          display: block;
          font-size: 15px;
        }
      }
      .nav_icon {
        margin-left: 20px;
        font-size: 25px;
        cursor: pointer;
      }
      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        object-fit:cover;
        cursor: pointer;
      }
    }
  }
}

// フッター
.footer_wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #FFFFFF;
  a {
    font-size: 30px;
    img.logo_image {
      width: 30px;
      height: 30px;
    }
  }
}

.pulldown_lists {
  position: absolute;
  right: 0px;
  margin-top: 0px 10px;
  padding: 10px;
  background-color: #aaa;
  border-radius: 10px;
  display: none;
  width: 150px;
  .pulldown_list {
    color: white;
    display: block;
    font-size: 15px;
  }
}
