// header
header {
  .header_wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: #FFFFFF;
    .header-left{
      font-size: 30px;
    }
    .header-right{
      display: flex;
      align-items: center;
      position: relative;
      .pulldown_lists {
        position: absolute;
        right: 0px;
        margin-top: 0px 10px;
        padding: 10px;
        background-color: #aaa;
        border-radius: 10px;
        display: none;
        width: 180px;
        .pulldown_list {
          color: white;
          display: block;
        }
      }
      .fa{
        font-size: 25px;
      }
      .nav_icon {
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
      }
      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        object-fit:cover;
        cursor: pointer;
      }
    }
  }
}

a {
  text-decoration: none;
}

// footer
.footer_wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #FFFFFF;
  .title {
    font-size: 30px;
  }
}

// トップページ一覧
.wrapper {
  background-color: ghostwhite;
  .mid_wrapper{
    max-width: 960px;
    margin: 0 auto;
    .container{
      display: flex;
    .search_container{
      width: 25%;
      background-color: #FFFFFF;
      padding: 0 25px;
      margin: 40px 0;
      .search_tabs {
        .search_tab {
          display: block;
        }
      }
      }      
      .main_wrapper {
        width: 75%;
        .main_container{
          padding: 0 25px;
          .posts_title {
            font-size: 50px;
          }
          .clothes_index {
            .posts_index {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              .post_item_list {
                padding: 20px 16px;
                margin-top: 25px;
                border-radius: 15px;;
                height: 400px;
                .post_image {
                  display: flex;
                  justify-content: center;
                  img {
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 15px;
                  }
                }
                .post_main {

                  .post_title {
                    font-size: 20px;
                    margin-top: 4px;
                    padding-left: 8px;
                  }
                  a {
                    padding-left: 8px;
                  }
                  .post_info{
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-between;
                    .post_user {
                      display: flex;
                      .user_avatar {
                        img {
                          border-radius: 50%;
                          width: 45px;
                          height: 45px;
                          object-fit: cover;
                        }
                      }
                      .post_user_name {
                        font-size: 20px;
                        margin-left: 10px;
                        padding-top: 15px;    
                      }
                    }
                    .post_date {
                      padding-top: 15px;
                    }
                  }            
                }
              }
            }
          }
        }
      }
    }
  }
}

// 新規投稿ページ

.new_wrapper {
  background-color: #EEEEEE;
  padding: 40px 0 ;
  .new_form {
    margin: 0 auto;
    padding: 0 40px;
    width: 960px;
    .new_messages {
      .message1 {
        font-size: 30px;
        text-align: center;
      }
      .message2 {
        font-size: 30px;
        text-align: center;
      }
    }
    form {
      padding-top: 40px;
      display: flex;
      align-items: center;
      .form_right {  
        padding-left: 50px;
        width: 50%;
        .filed {
          padding-top: 20px;
          .file_form {
            display: flex;
          }
          textarea {
            width: 400px;
            height: 150px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            transition: 0.3s;
            &:focus {
              border-color: dodgerBlue;
              box-shadow: 0 0 8px 0 dodgerBlue;
            }
          }
        }
      }
      .actions {
        padding-top: 40px;
        input {
          padding: 8px;
          border: 2px solid #aaa;
          border-radius: 4px;         
        }
      }
    }
    .form_left {
      border-right: solid;
      border-color: #aaa;
      width: 50%;
      .filed {
        padding-top: 20px;
        input {
          border: 2px solid #aaa;
          border-radius: 4px;
          margin: 8px 0;
          outline: none;
          padding: 8px;
          transition: 0.3s;
          &:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
          }
        }
      }
    }
  }
}

.filed_name {
  font-size: 20px;
  padding-top: 10px;
}

// プレビュー画像

#image_preview {
  .post_image_custom {
    .post_image_pre {
      width: 200px;
      height: 200px;
      border-radius: 15px;
      object-fit: cover;
    }    
  }
}
label {
  border-radius: 4px;
  margin: 8px 0;
  background-color: #aaa;
  padding: 8px;
  display: inline-block;
}

// いいね機能
.fa-yet_icon {
  color: #aaa;
}
.fa-already_icon {
  color: black;
}

// 投稿詳細ページ
.post_show_wrapper {
  background-color: #EEEEEE;
  padding: 40px 0;
  .post_show_container {
    width: 960px;
    margin: 0 auto;
    padding:  0 40px;
    .top_container {
      display: flex;
      justify-content: space-around;
      padding-bottom: 10px;
      .post_title{
        font-size: 30px;
      }
      .post_user{
        display: flex;
        justify-content: center;
        align-items: center;
        .user_name {
          font-size: 20px;
        }
        a.user_image {
          padding-left: 8px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          
        }
      }
    }
    }
    .midle_container {
      .post_image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 400px;
          height: 400px;
          border-radius: 15px;
          object-fit: cover;
        }
      }
    }
    .bottom_wrapper {
      padding-top: 30px;
      .bottom_container {
        width: 600px;
        margin: 0 auto;
        a{
          padding-left: 8px;
        }
        .post_place {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: #aaa solid 2px;
          margin: 8px 0;
          padding: 8px;
          .form_title {
          }
        }
        .post_brand {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: #aaa solid 2px;
          margin: 8px 0;
          padding: 8px;
        }
        .post_story {
          .form_title {
          }
          .form_text{
            width: 100%;
            height: 150px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin: 8px 0;
            padding: 8px;
          }
        }
        .post_evidence {
          .form_title {
            
          }
          .form_text {
            width: 100%;
            height: 150px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin: 8px 0;
            padding: 8px;
          }
        }
      }
    }
  }
}