// header
header {
  .header_wrapper {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    .header-left{
      font-size: 30px;
    }
    .header-right{
      .fa{
        font-size: 20px;
        margin-left: 20px;
      }
      a{
        margin-left: 20px;
        font-size: 20px;
      }
    }
  }
}

a {
  text-decoration: none;
}

// footer
.footer_wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  .title {
    font-size: 30px;
  }
}

// トップページ一覧
.wrapper {
  .container {
    padding: 40px 0 ;
    margin: 0 auto;
    background-color:#e5e5e5;
    .clothes_index {
      max-width: 960px;
      padding: 0 40px;
      margin: 0 auto;
      .posts_title {
        font-size: 50px;
      }
      .tags {
        display: flex;
        .trending_tag {
          font-size: 30px;
          padding-left: 20px;
        }
        .new_tag {
          font-size: 30px;
          padding-left: 20px;
        }
      }
      .posts_index {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        .post_item_list {
          display: flex;
          min-width: 360px;
          padding-top: 40px;
          .post_image img{
            border-radius: 20px;
          }
          .post_main {
            padding-left: 30px;
            .post_title {
              font-size: 20px;
            }
            .post_user {
              display: flex;
              padding-top: 50px;
              .user_avatar img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
              }
              .post_user_info {
                padding-left: 20px;
                .post_info {
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
  }
}