// マイページ
.profile_wrapper {
  display: flex;
  justify-content: center;
  .profile_container {
    padding: 40px 0;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    .profile_main {
      margin-left: 30px;
      width: 100%;
      .profile_top{
        display: flex;
        justify-content: space-between;
      }
      .user_follow {
        display: flex;
      }
    }
  }
}

.user_name {
  font-size: 30px;
}


// ログインページ
.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  .login_container {
    h2 {
      font-size: 30px;
    }
    form {
      padding-top: 40px;
      .field {
        padding-top: 20px;
      }
      .actions {
        padding-top: 20px;
      }
    }
  }
}